ng-form(name="form", esn-autocomplete-off)
  .row
    .col-md-6
      esn-form-group(ng-if="!$ctrl.updateMode", label=__('Name'), pattern-error-message=__('Domain name is invalid'), async-validator-error-message=__('That domain is already used. Try another.'), async-validator="$ctrl.uniqueDomainName")
        input.form-control(type="text", ng-model="$ctrl.domain.name", ng-model-options="{ debounce: {'default': 500} }", pattern="^(?!:\/\/)([a-zA-Z0-9-_]+\.)*[a-zA-Z0-9][a-zA-Z0-9-_]+\.[a-zA-Z]{2,11}?", maxlength="255", name="domainName", required)
      esn-form-group(ng-if="$ctrl.updateMode", label=__('Name'))
        input.form-control(type="text", ng-model="$ctrl.domain.name", name="domainName", disabled)
    .col-md-6
      esn-form-group(label=__('Company name'))
        input.form-control(type="text", ng-model="$ctrl.domain.company_name", name="companyName", required)
  div(ng-if="!$ctrl.updateMode")
    .row
      .col-xs-6
        h5 #{__('Administrator')}
    .row.m-t-15
      .col-md-6
        esn-form-group(label=__('Email'))
          input.form-control(type="email", ng-model="$ctrl.domain.administrator.email", autocomplete="off", required, name="email")
      .col-md-6
        esn-form-group(label=__('Password'))
          input.form-control(type="password", ng-model="$ctrl.domain.administrator.password", autocomplete="new-password", required, name="password")
