ng-form(name="form")
  label {{$ctrl.metaData.name}}
  .form-group
    span.m-r-5 #{__('Active')}
    toggle-switch(ng-model='$ctrl.resolver.active', form="form")
  div(ng-if="$ctrl.metaData.hasOptions")
    fieldset(ng-disabled="!$ctrl.resolver.active")
      p #{__('Options')}
      .form-group(ng-repeat="option in $ctrl.options track by $index")
        .resolvers-option.field-option.p-15
          .col-xs-5
            esn-form-group(label=__('Key'), pattern-error-message=__('Only a-z, 0-9 and _ (underscore) are allowed'))
              input.form-control(ng-model="option.key", name="key", ng-change="$ctrl.qualifyResolver()", maxlength="{{$ctrl.resolver.active ? 100 : false }}", pattern="{{$ctrl.resolver.active ? '[a-zA-Z0-9_]+' : '.*'}}", required)
          .col-xs-6
            esn-form-group(label=__('Value'))
              input.form-control(ng-model="option.value", name="value", ng-change="$ctrl.qualifyResolver()", maxlength="200", required)
          .col-xs-1
            i.clickable.mdi.mdi-minus-circle-outline.button-remove.show-button(ng-click="$ctrl.resolver.active && $ctrl.deleteOption($index, form)")
      .button.clickable(ng-click="$ctrl.resolver.active && $ctrl.addOption()")
        .form-group
          .flex-vertical-centered.m-t-10
            i.mdi.mdi-plus-circle.button-add.m-r-5
            | #{__("Add a new option")}
