.card
  .card-header
    h2 #{__('Mail server test')}
  .card-body.card-padding
    form(name="form")
      .row
        .col-md-6
          admin-form-group(label="#{__('Email address')}")
            input.form-control.fg-input(type="email", ng-model="$ctrl.mailto", name="email", autocomplete="off", required)
        .col-md-6
          button.btn.btn-primary.btn-sm.m-t-5.waves-effect(type="submit", esn-submit="$ctrl.test(testForm)", ng-disabled="testForm.$invalid") #{__('Test')}
      .row
        .col-md-12(ng-switch="$ctrl.message.status")
          i(ng-switch-when="isSending")
            | #{__('Email sending in progress...')}
          i(ng-switch-when="success")
            | #{__('Email sent successfully to ')} {{$ctrl.message.mailto}}
          i.c-red(ng-switch-when="error")
            | #{__('Email sent failed with server error: ')} {{$ctrl.message.msg}}
          i.c-red(ng-switch-when="invalidEmail")
            | #{__('Please type a valid email')}
          i.c-red(ng-switch-when="invalidMailConfig")
            | #{__('Please fullfil valid mail configuration above')}
