.admin-mode-switch
  md-select.md-no-underline(ng-model="$ctrl.selectedMode", ng-change="$ctrl.selectedChanged()", ng-disabled="!$ctrl.hasTwoAdminRoles", md-container-class="admin-mode-switch-select")
    md-tooltip(md-direction="top", ng-if="$ctrl.hasTwoAdminRoles") #{__('Switch mode between platform and domain administration')}
    md-option.admin-mode-switch-item(ng-value="'platform'", ng-if="$ctrl.hasTwoAdminRoles", ng-selected="$ctrl.isPlatformMode()")
      span #{__('Platform administration')}
      .description #{__('Any change you make will affect the whole platform')}
    md-option.admin-mode-switch-item(ng-value="'domain'", ng-if="$ctrl.hasTwoAdminRoles", ng-selected="!$ctrl.isPlatformMode()")
      span #{__('%s administration', '{{::$ctrl.currentDomain.name}}')}
      .description #{__('Any change you make will affect the whole domain')}