sub-header
  admin-jwt-subheader(on-form-submit="$ctrl.save()", form="form")
  
.card
  .card-body.card-padding
    form(name="form")
      .row
        .col-md-6
          esn-form-group(label="#{__('Algorithm')}")
            .select
              select.form-control(ng-model="$ctrl.config.algorithm", name="algorithm", ng-options="algorithm.name as algorithm.description for algorithm in $ctrl.availableAlgorithms", required)
        .col-md-6
          esn-form-group(label="#{__('Expires in (days)')}")
            input.form-control(type="number", name="expiresIn", min="1", max="30", ng-model="$ctrl.expiration", ng-change="$ctrl.onExpirationChange()")
              
      .row
        .col-md-6
          esn-form-group(label="#{__('Public key')}")
            a.save(href="", ng-click="$ctrl.downloadPublicKey()", ng-show="$ctrl.config.publicKey")
              | #{__('Download')}
            textarea.form-control(rows="5", ng-model="$ctrl.config.publicKey", name="publicKey", required)
        .col-md-6
          esn-form-group(label="#{__('Private key')}")
            a.save(href="", ng-click="$ctrl.downloadPrivateKey()", ng-show="$ctrl.config.privateKey")
              | #{__('Download')}
            textarea.form-control(rows="5", ng-model="$ctrl.config.privateKey", name="privateKey", required)
      .row
        .col-xs-12
          button.btn.btn-primary.btn-sm.pull-right(type="button", esn-submit="$ctrl.generate()")
            i.mdi.mdi-sync
            | #{__('Generate keys')}
