ng-form(name="form")
  .row
    .col-md-6
      esn-form-group(label="#{__('Email')}")
        input.form-control(type="email", ng-model="$ctrl.user.accounts[0].emails[0]", autocomplete="off", required, name="email")
    .col-md-6
      esn-form-group(label="#{__('Password')}")
        input.form-control(type="password", ng-model="$ctrl.user.password", autocomplete="new-password", required, name="password")
  .row
    .col-md-6
      esn-form-group(label="#{__('First name')}")
        input.form-control(type="text", ng-model="$ctrl.user.firstname")
    .col-md-6
      esn-form-group(label="#{__('Last name')}")
        input.form-control(type="text", ng-model="$ctrl.user.lastname")
  .row
    .col-md-6
      esn-form-group(label="#{__('Job title')}")
        input.form-control(type="text", ng-model="$ctrl.user.job_title")
    .col-md-6
      esn-form-group(label="#{__('Service')}")
        input.form-control(type="text", ng-model="$ctrl.user.service")
  .row
    .col-md-12
      esn-form-group(label="#{__('Building location')}")
        input.form-control(type="text", ng-model="$ctrl.user.building_location")
  .row
    .col-md-12
      esn-form-group(label="#{__('Office location')}")
        input.form-control(type="text", ng-model="$ctrl.user.office_location")
  .row
    .col-md-6
      esn-form-group(label="#{__('Main phone')}")
        input.form-control(type="text", ng-model="$ctrl.user.main_phone")
    .col-md-6
      esn-form-group(label="#{__('Bio')}")
        textarea.form-control(ng-model="$ctrl.user.description")
