ng-form(name="form")
  .row
    .col-xs-8
      admin-form-group(label="#{__('Folder path')}")
        input.form-control.floating-label(type="text", ng-model="$ctrl.transportConfig.host", name="host", required)
    .col-xs-4
      admin-form-group(label="#{__('Port')}")
        input.form-control(type="number", ng-model="$ctrl.transportConfig.port", name="port", required)
  .row
    .col-xs-12
      .form-group
        label.checkbox.checkbox-inline
          input(type="checkbox", ng-model="$ctrl.transportConfig.secure", name="secure")
          i.input-helper
          | #{__('Secure')}
        label.checkbox.checkbox-inline
          input(type="checkbox", ng-model="$ctrl.transportConfig.tls.rejectUnauthorized", name="rejectUnauthorized")
          i.input-helper
          | #{__("Reject Unauthorized")}
  .row
    .col-xs-6
      admin-form-group(label="#{__('Username')}")
        input.form-control.floating-label(type="text", ng-model="$ctrl.transportConfig.auth.user", name="user", autocomplete="off", required)
    .col-xs-6
      admin-form-group(label="#{__('Username')}")
        input.form-control.floating-label(type="password", ng-model="$ctrl.transportConfig.auth.pass", name="pass", autocomplete="new-password", required)
