form(name="form")
  .card(ng-init="expanded=false", ng-class="{clickable: $ctrl.configurations}")
    .card-header(ng-click="expanded=!expanded")
      h2.module-name(ng-class="form.$pristine ? '': 'unsaved-changes'", title="{{::$ctrl.module.title | esnI18n}}")
        img(ng-src="{{$ctrl.module.icon}}")
        span {{::$ctrl.module.title | esnI18n}}

      .module-toolbar
        .admin-modules-set-homepage
          span.no-homepage(ng-if="!$ctrl.module.homePage", title=__('This module has no home page'))
            i.mdi.mdi-star-off
            | #{__('Home')}
          span.clickable(ng-if="$ctrl.module.homePage", ng-click="$ctrl.setHome($event)", ng-class="{'home-activated': $ctrl.isHomePage()}")
            i.mdi(ng-class="$ctrl.isHomePage() ? 'mdi-star' : 'mdi-star-outline'")
            | #{__('Home')}
        .admin-modules-features
          span(ng-show="$ctrl.configurations", title=__('Features'))
            | #{__('Features')}
            i.mdi(ng-class="expanded ? 'mdi-menu-up' : 'mdi-menu-down'")
        toggle-switch(ng-model="$ctrl.isEnabled")
    .card-body
      .form(ng-if="$ctrl.configurations", ng-show="expanded")
        admin-modules-form(template="$ctrl.module.config.template", configurations="$ctrl.configurations")
        .flex-end.admin-form-bottom
          a.text-uppercase.flex-vertical-centered(href="", ng-click="$ctrl.reset()")
            |  #{__('Cancel')}
          admin-modules-save-button(form="form", on-form-submit="$ctrl.save()")
