.has-error(ng-messages="$ctrl.error")
  .help-block(ng-message="email")
    | #{__('Invalid email')}
  .help-block(ng-message="required")
    | #{__('This is required')}
  .help-block(ng-message="url")
    | #{__('This is a invalid url')}
  .help-block(ng-message="date")
    | #{__('This is a invalid date')}
  .help-block(ng-message="datetimelocal")
    | #{__('This is a invalid date time')}
  .help-block(ng-message="time")
    | #{__('This is a invalid time')}
  .help-block(ng-message="week")
    | #{__('This is a invalid date')}
  .help-block(ng-message="month")
    | #{__('This is a invalid date')}
  .help-block(ng-message="max")
    | #{__('This must be less than or equal to')} {{$ctrl.options.max}}
  .help-block(ng-message="min")
    | #{__('This must be greater than or equal to')} {{$ctrl.options.min}}
  .help-block(ng-message="maxlength")
    | #{__('Length must be less than or equal to')} {{$ctrl.options.maxlength}}
  .help-block(ng-message="minlength")
    | #{__('Length must be greater than or equal to')} {{$ctrl.options.minlength}}
  .help-block(ng-message="pattern")
    | #{__('Please match requested format')}