ng-form.p-t-25(name='form')
  .left-block
    admin-form-group(label="#{__('JMAP API')}")
      input.form-control(type="url", ng-model="$ctrl.configurations.api.value", name="apiUrl")
    admin-form-group(label="#{__('Upload API')}")
      input.form-control(type="url", ng-model="$ctrl.configurations.uploadUrl.value", name="uploadUrl")
    admin-form-group(label="#{__('Download API')}")
      input.form-control(type="url", ng-model="$ctrl.configurations.downloadUrl.value", name="downloadUrl")
    .form-group.option-field
      .col-xs-4.field-name #{__('Swipe right action')}
      .col-xs-8.flex-space-between
        label.col-xs-6.radio.radio-inline
          input(type="radio", ng-model="$ctrl.configurations.swipeRightAction.value", value="markAsRead")
          i.input-helper
          span
            |  #{__('Mark as read')}
        label.col-xs-6.radio.radio-inline
          input(type="radio", ng-model="$ctrl.configurations.swipeRightAction.value", value="moveToTrash")
          i.input-helper
          span
            |  #{__('Move to trash')}
    .form-group.option-field
      .col-xs-4.field-name #{__('Display email as')}
      .col-xs-8.flex-space-between
        label.col-xs-6.radio.radio-inline
          input(type="radio", ng-model="$ctrl.configurations.view.value", value="threads")
          i.input-helper
          span
            |  #{__('Threads')}
        label.col-xs-6.radio.radio-inline
          input(type="radio", ng-model="$ctrl.configurations.view.value", value="messages")
          i.input-helper
          span
            |  #{__('Messages')}
  .right-block
    .form-group.option-field
      .col-xs-8.field-name #{__('Enable JMAP sending')}
      .col-xs-4.flex-end
        toggle-switch(ng-model="$ctrl.configurations.isJmapSendingEnabled.value")
    .form-group.option-field
      .col-xs-8.field-name #{__('Allow save draft before sending')}
      .col-xs-4.flex-end
        toggle-switch(ng-model="$ctrl.configurations.isSaveDraftBeforeSendingEnabled.value")
    .form-group.option-field
      .col-xs-8.field-name #{__('Twitter tweets')}
      .col-xs-4.flex-end
        toggle-switch(ng-model="$ctrl.configurations['twitter.tweets'].value")
    .form-group.option-field
      .col-xs-8.field-name #{__('Enable attachments')}
      .col-xs-4.flex-end
        toggle-switch(ng-model='$ctrl.configurations["composer.attachments"].value')
    admin-form-input-bytes(input-value="$ctrl.configurations.maxSizeUpload.value", min="1KB", max="50TB", label="#{__('Max size upload')}")
