a(
  ng-init="locals = { user: $ctrl.user }",
  href="",
  esn-modal-launcher='/admin/app/users/state/edit/admin-users-state-edit.html',
  controller="AdminUsersStateEditController",
  controller-as="$ctrl",
  backdrop="static",
  locals="{{locals}}"
) #{__('Manage states')}
