infinite-list(load-more-elements='$ctrl.loadMoreElements()', scroll-inside-container="$ctrl.scrollInsideContainer")
  .listview.lv-bordered.lv-lg(ng-if="$ctrl.elements.length > 0")
    .lv-header
      .lv-item
        .row
          .col-md-4.col-xs-4.block-header
            h2 #{__('Name')}
          .col-md-4.col-xs-4.block-header
            h2 #{__('Company')}
          .col-md-4.col-xs-4.block-header
            h2 #{__('Created')}
    .lv-body
      .lv-item(ng-repeat="item in $ctrl.elements")
        admin-domains-item(domain="item")
  div(ng-if="!$ctrl.elements.length && $ctrl.infiniteScrollCompleted")
    admin-empty-message(
      icon="mdi-view-list",
      message=__('No domain'))
  ul.nav.nav-pills.nav-stacked(ng-if='$ctrl.infiniteScrollDisabled')
    li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
