.card-padding
  .admin-form-header.flex-vertical-centered(ng-class="{ 'collapse-background': !$ctrl.isCollapsed }")
    .module-title.col-xs-6
      .button-option.flex-vertical-centered
        i.mdi.mdi-email
        span
          |  #{__('Unified Inbox')}
    .module-option.col-xs-6.flex-space-between.flex-vertical-centered
      .button-option.clickable.flex-vertical-centered(ng-click="$ctrl.isHomePage = !$ctrl.isHomePage")
        span(ng-if="$ctrl.isHomePage && $ctrl.isEnabled")
          |  #{__('Home')}
          i.mdi.mdi-star
        span(ng-if="!$ctrl.isHomePage || !$ctrl.isEnabled")
          |  #{__('Set Home')}
          i.mdi.mdi-star-outline
      .button-option.clickable.flex-vertical-centered(ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed")
        |  #{__('Features')}
        i.mdi(ng-class="$ctrl.isCollapsed ? 'mdi-menu-down' : 'mdi-menu-up'")
      .admin-toggle-switch
        toggle-switch(ng-model="$ctrl.isEnabled")
  .admin-form-body(ng-hide="$ctrl.isCollapsed")
    .row
      ng-form(name='form')
        .col-xs-6.admin-mini-form.right-features-block
          .form-group.flex-vertical-centered
            .col-xs-4.field-name #{__('JMAP API')}
            .col-xs-8
              .fg-line
                input.form-control(type="url", ng-model="$ctrl.api.value", placeholder="#{__('JMAP API')}", admin-form-validator, name="apiUrl")
          .form-group.flex-vertical-centered
            .col-xs-4.field-name #{__('Upload API')}
            .col-xs-8
              .fg-line
                input.form-control(type="url", ng-model="$ctrl.uploadUrl.value", placeholder="#{__('Upload API')}", admin-form-validator, name="uploadUrl")
          .form-group.flex-vertical-centered
            .col-xs-4.field-name #{__('Download API')}
            .col-xs-8
              .fg-line
                input.form-control(type="url", ng-model="$ctrl.downloadUrl.value", placeholder="#{__('Download API')}", admin-form-validator, name="downloadUrl")
          .form-group.flex-vertical-centered
            .col-xs-4.field-name #{__('Swipe right action')}
            .col-xs-8.flex-space-between
              label.col-xs-6.radio.radio-inline
                input(type="radio", ng-model="$ctrl.swipeRightAction.value", value="markAsRead")
                i.input-helper
                span
                  |  #{__('Mask as read')}
              label.col-xs-6.radio.radio-inline
                input(type="radio", ng-model="$ctrl.swipeRightAction.value", value="moveToTrash")
                i.input-helper
                span
                  |  #{__('Move to trash')}
          .form-group.flex-vertical-centered
            .col-xs-4.field-name #{__('Display email as')}
            .col-xs-8.flex-space-between
              label.col-xs-6.radio.radio-inline
                input(type="radio", ng-model="$ctrl.view.value", value="threads")
                i.input-helper
                span
                  |  #{__('Threads')}
              label.col-xs-6.radio.radio-inline
                input(type="radio", ng-model="$ctrl.view.value", value="messages")
                i.input-helper
                span
                  |  #{__('Messages')}
        .col-xs-6.admin-mini-form
          .form-group.flex-vertical-centered
            .col-xs-8.field-name #{__('Enable JMAP sending')}
            .col-xs-4.admin-toggle-switch.flex-end
              toggle-switch(ng-model="$ctrl.isJmapSendingEnabled.value")
          .form-group.flex-vertical-centered
            .col-xs-8.field-name #{__('Allow save draft before sending')}
            .col-xs-4.admin-toggle-switch.flex-end
              toggle-switch(ng-model="$ctrl.isSaveDraftBeforeSendingEnabled.value")
          .form-group.flex-vertical-centered
            .col-xs-8.field-name #{__('Twitter tweets')}
            .col-xs-4.admin-toggle-switch.flex-end
              toggle-switch(ng-model="$ctrl['twitter.tweets'].value")
          .form-group.flex-vertical-centered
            .col-xs-8.field-name #{__('Enable attachments')}
            .col-xs-4.admin-toggle-switch.flex-end
              toggle-switch(ng-model='$ctrl["composer.attachments"].value')
          .form-group.flex-vertical-centered
            .col-xs-8.field-name #{__('Max size upload (Bytes)')}
            .col-xs-4
              .fg-line
                input.form-control(type="number", ng-model="$ctrl.maxSizeUpload.value", placeholder="#{__('Max size')}", required, admin-form-validator, name="sizeUpload")
